* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width:  100%;
  font-family: 'Patua One', serif;
  background-color: rgb(19, 17, 17);
  color: whitesmoke;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
}